body{
    background:#f2f4f5;
}
.nav{
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 2;
    background: #fff;
}
.nav ul{
    width: 4.38rem;
    height: 0.6rem;
    margin:0 auto;
}
.nav ul li {
    float: left;
    width: 1.46rem;
}
.nav ul li a{
    display: block;
    width: 1.46rem;
    height: 0.6rem;
    line-height: 0.6rem;
    text-align: center;
    font-size: 0.3rem;
    color:#9e9a95;
}
.nav ul .active a{
    border-bottom: 0.1rem solid #5477b2;
    color:#5477b2;
    height: 0.5rem;
}