body{
    background:#f2f4f5;
}
.nav{
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 2;
    background: #fff;
}
.nav ul li{
    float:left;
    width: 100px;
    width: 1rem;
    text-align: center;
}